@charset "UTF-8";

@media screen and (min-width: 400px) {
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body, html{
    width: 100vw;
    height: 100vh;
    background-color: #2d0249;
}
main{
    width: 100vw;
    height: 100vh;
    position: relative;
}
#login{
    top: 50%;
    left: 50%;
    width: 300px;
    height: 540px;
    position: absolute;
    text-align: justify;
    border-radius: 28px;
    background-color: white;
    transform: translate(-50%, -50%);
}
#formulario{
    padding: 10px;
}
#e-mail{
    width: 240px;
    height: 30px;
    padding: 10px;
    color: black;
}
#senha{
    width: 240px;
    height: 30px;
    padding: 10px;
    color: black;
}
#entrar{
    width: 240px;
    padding: 10px;
    color: white;
    transform: translate(6%, 1%);
    border: 1px solid rgb(38, 61, 4);
    background-color: rgba(38, 61, 4);
}
#redefinir{
    width: 240px;
    height: 39px;
    padding: 10px;
    text-align: center;
    color: rgb(117, 106, 106);
    transform: translate(6%, -11%);
}
.material-symbols-outlined{
    padding: 6px;
    border: 2px solid white;
    background-color: #5f2c82;
    border-radius: 15px 12px 12px 15px;
}
.material-symbols-outlined > input{
    border: 2px solid black;
    background-color: rgb(212, 226, 231);
}
h1{
    text-align: center;
}
#p{
    padding: 10px;
}
p{
    font-size: 12px; 
    word-break: break-word;
}
h1, p{
    padding: 5px;
}
img{
    width: 300px;
    height: 190px;
    border-radius: 19px 19px 1px 1px;
}

}